<!doctype html>
<html lang="en">
<head>
    <title>Karamel</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- PatternFly CSS -->
    <link href="/css/patternfly.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/karamel.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/snackbar.css" rel="stylesheet" type="text/css" media="all">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>

    <!-- Charts -->
    <script src="/js/moment.js"></script>
    <script src="/js/chart.js"></script>
</head>
<body>
<div class="pf-c-page" id="page-default-nav-example">
    <a class="pf-c-skip-to-content pf-c-button pf-m-primary" href="#main-content-page-default-nav-example">Skip to
        content</a>
    <header role="banner" class="pf-c-page__header">
        <div class="pf-c-page__header-brand">
            <img class="logo" src="/img/logo.svg" alt="" />
            <a class="pf-c-page__header-brand-link">
                <h1 class="header">KARAMEL</h1>
            </a>
        </div>
        <div class="pf-c-page__header-tools">
            <img class="pf-c-avatar" src="/img/img_avatar.svg" alt="Avatar image"/>
        </div>
    </header>
    <div class="pf-c-page__sidebar pf-m-dark">
        <div class="pf-c-page__sidebar-body">
            <nav class="pf-c-nav pf-m-dark" id="page-default-nav-example-primary-nav" aria-label="Global">
                <ul class="pf-c-nav__list">
                    <li class="pf-c-nav__item">
                        <a href="/kafka" class="pf-c-nav__link {#if page == 'kafka'} pf-m-current {/if} ">Kafka</a>
                    </li>
                    <li class="pf-c-nav__item">
                        <a href="/topics" class="pf-c-nav__link {#if page == 'topics'} pf-m-current {/if} ">Topics</a>
                    </li>
<!--                    <li class="pf-c-nav__item">-->
<!--                        <a href="/monitor" class="pf-c-nav__link {#if page == 'monitor'} pf-m-current {/if} ">Monitor</a>-->
<!--                    </li>-->
                    <li class="pf-c-nav__item">
                        <a href="/client" class="pf-c-nav__link {#if page == 'client'} pf-m-current {/if} ">Client</a>
                    </li>
                    {#if inject:karamelAPI.isKubernetes}
                    <li class="pf-c-nav__item">
                        <a href="/operators" class="pf-c-nav__link {#if page == 'operators'} pf-m-current {/if} ">Operators</a>
                    </li>
<!--                    <li class="pf-c-nav__item">-->
<!--                        <a href="/connectors" class="pf-c-nav__link {#if page == 'connectors'} pf-m-current {/if} ">Connectors</a>-->
<!--                    </li>-->
                    <li class="pf-c-nav__item">
                        <a href="/zookeeper" class="pf-c-nav__link {#if page == 'zookeeper'} pf-m-current {/if} ">Zookeeper</a>
                    </li>
                    {/if}
                </ul>
            </nav>
        </div>
    </div>

    <main role="main" class="pf-c-page__main" tabindex="-1" id="app">
        {#insert contents}No contents!{/}
    </main>
</div>
</body>
</html>
