<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap.min.css">

    <script src="/unpoly.min.js"></script>
    <link rel="stylesheet" href="/unpoly.min.css">

    <script src="/jquery.min.js"></script>

    <title>{#insert title}Default Title{/}</title>

    <style>
      .table td.fit, .table th.fit {
        white-space: nowrap;
        width: 1%;
      }

      .completed {
        text-decoration: line-through;
      }

      .form-text-width {
        width: 600px;
      }

      .form-textarea-height {
        height: 400px !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3>{#insert title}Default Title{/}</h3>

      {#insert contents}No contents!{/}
    </div>
  </body>
</html>
