<section class="pf-c-page__main-section pf-m-light dashboard-subtitle">
    <h1 class="pf-c-title pf-m-xl">Brokers</h1>
    <div class="pf-c-divider" role="separator"></div>
</section>
<section class="pf-c-page__main-section pf-m-light">
    <div class="pf-l-gallery pf-m-gutter dashboard">
        {#for statefulSet in inject:strimziAPI.getKafkaStatefulSets}
        <div class="pf-c-card pf-m-hoverable pf-m-compact">
            <div class="pf-c-card__header pf-c-title pf-m-md">
                <p>{statefulSet.getKind()}</p>
                <div class="pf-c-content">
                    <small>{statefulSet.getMetadata().getUid()}</small>
                    <small>{statefulSet.getMetadata().getName()}</small>
                </div>
            </div>
            <div class="pf-c-card__body">

            </div>
            <div class="pf-c-card__footer">
                <div class="pf-c-alert status pf-m-success" aria-label="Success alert">
                    <div class="pf-c-alert__icon">
                        <i class="fas fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <h4 class="pf-c-alert__title">Desired: {statefulSet.getStatus().getReplicas()}, Ready: {statefulSet.getStatus().getReadyReplicas()}</h4>
                </div>
            </div>
        </div>
        {/for}
        {#for pod in inject:strimziAPI.getKafkaPods}
        <div class="pf-c-card pf-m-hoverable pf-m-compact">
            <div class="pf-c-card__header pf-c-title pf-m-md">
                <p>{pod.getKind()}</p>
                <div class="pf-c-content">
                    <small>{pod.getMetadata().getUid()}</small>
                    <small>{pod.getMetadata().getName()}</small>
                </div>
            </div>
            <div class="pf-c-card__body">

            </div>
            <div class="pf-c-card__footer">
                <div class="pf-c-alert status pf-m-success" aria-label="Success alert">
                    <div class="pf-c-alert__icon">
                        <i class="fas fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <h4 class="pf-c-alert__title">{pod.getStatus().getPhase()}</h4>
                </div>
            </div>
        </div>
        {/for}
    </div>
</section>