<table class="pf-c-table pf-m-grid-md" role="grid">
    <thead>
    <tr>
        <th>Topic</th>
        <th>Partition</th>
        <th>Offset</th>
        <th>Timestamp</th>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>

    {#if kevents.size == 0}
    <tr class="pf-m-height-auto" role="row">
        <td role="cell" colspan="8">
            <div class="pf-l-bullseye">
                <div class="pf-c-empty-state pf-m-sm">
                    <i class="fas fa- fa-search pf-c-empty-state__icon" aria-hidden="true"></i>
                    <h2 class="pf-c-title pf-m-lg">No results found</h2>
                    <div class="pf-c-empty-state__body">No results match the select criteria.</div>
                </div>
            </div>
        </td>
    </tr>
    {#else}
<!--    <tr>-->
<!--        <td class="filter"><input class="pf-c-form-control" required type="text" id="topic" name="topic" placeholder="Filter"/></td>-->
<!--        <td class="filter"><input class="pf-c-form-control" required type="text" id="partition" name="partition" placeholder="Filter"/></td>-->
<!--        <td class="filter"><input class="pf-c-form-control" required type="text" id="offset" name="offset" placeholder="Filter"/></td>-->
<!--        <td class="filter"></td>-->
<!--        <td class="filter"><input class="pf-c-form-control" required type="text" id="key" name="key" placeholder="Filter"/></td>-->
<!--        <td/>-->
<!--    </tr>-->
    {#for kevent in kevents}
    <tr>
        <td>{kevent.topic}</td>
        <td>{kevent.partition}</td>
        <td>{kevent.offset}</td>
        <td>{kevent.getTimestampString}</td>
        <td>{kevent.key}</td>
        <td class="pf-c-table__action">
            <a href="/message/{kevent.topic}/{kevent.partition}/{kevent.offset}">View</a>
            </form>
        </td>
    </tr>
    {/for}
    {/if}
</table>

