<section class="pf-c-page__main-section dashboard-subtitle">
    <h1 class="pf-c-title pf-m-xl">Kubernetes</h1>
</section>
<section class="pf-c-page__main-section">
    <div class="pf-l-gallery pf-m-gutter dashboard">
        {#for statefulSet in statefulSets}
        <div class="pf-c-card pf-m-hoverable pf-m-compact">
            <div class="pf-c-card__title pf-m-md status">
                <p>{statefulSet.kind}</p>
                <div class="pf-c-content">
                    <small>{statefulSet.uuid}</small>
                </div>
            </div>
            <div class="pf-c-card__footer">
                <div class="pf-c-alert status pf-m-success" aria-label="Success alert">
                    <div class="pf-c-alert__icon">
                        <i class="fas fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <h4 class="pf-c-alert__title">Desired: {statefulSet.replicas}, Ready: {statefulSet.readyReplicas}</h4>
                </div>
            </div>
        </div>
        {/for}
        {#for pod in pods}
        <div class="pf-c-card pf-m-hoverable pf-m-compact">
            <div class="pf-c-card__title pf-m-md status">
                <p>Pod</p>
                <div class="pf-c-content">
                    <small>{pod.uid}</small>
                    <small>{pod.name}</small>
                </div>
            </div>
            <div class="pf-c-card__footer">
                <div class="pf-c-alert status {pod.getClassName()}" aria-label="Success alert">
                    <div class="pf-c-alert__icon">
                        <i class="fas {pod.getIcon()}" aria-hidden="true"></i>
                    </div>
                    <h4 class="pf-c-alert__title">{pod.phase}</h4>
                </div>
            </div>
        </div>
        {/for}
        {#for service in bootstrapServices}
        <div class="pf-c-card pf-m-hoverable pf-m-compact">
            <div class="pf-c-card__title pf-m-md status">
                <p>{service.getKind()}: {service.getSpec().getType()}</p>
                <div class="pf-c-content">
                    <small>{service.getMetadata().getUid()}</small>
                    <small>{service.getMetadata().getName()}</small>
                </div>
            </div>
            <div class="pf-c-card__footer">
                <div class="pf-c-alert status pf-m-success" aria-label="Success alert">
                    <div class="pf-c-alert__icon">
                        <i class="fas fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <h4 class="pf-c-alert__title">Running</h4>
                </div>
            </div>
        </div>
        {/for}
        {#for service in brokerServices}
        <div class="pf-c-card pf-m-hoverable pf-m-compact">
            <div class="pf-c-card__title pf-m-md status">
                <p>{service.getKind()}: {service.getSpec().getType()}</p>
                <div class="pf-c-content">
                    <small>{service.getMetadata().getUid()}</small>
                    <small>{service.getMetadata().getName()}</small>
                </div>
            </div>
            <div class="pf-c-card__footer">
                <div class="pf-c-alert status pf-m-success" aria-label="Success alert">
                    <div class="pf-c-alert__icon">
                        <i class="fas fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <h4 class="pf-c-alert__title">Running</h4>
                </div>
            </div>
        </div>
        {/for}
    </div>
</section>
