{#include base.html}
{#title}Karamel{/title}
{#contents}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Messages</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline navbar-nav mr-auto mt-2 mt-lg-0" action="/messages" method="GET" name="search" up-target=".container">
        <input type="text" name="filter" class="form-control mr-sm-2" id="filter" placeholder="Filter By Topic" {#if filtered}value="{filter}"{/if}>
        <input class="btn btn-primary my-2 my-sm-0" value="Filter" type="submit">
        <a class="btn btn-secondary {#if !filtered}disabled{/if}" href="/messages" role="button" up-target=".container">Clear</a>
    </form>
      <a class="btn btn-primary my-2 my-lg-0" href="/messages/new" role="button" up-modal=".modalenabled">Producer</a>
  </div>
</nav>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col" >Topic</th>
      <th scope="col" >Partition</th>
      <th scope="col" >Offset</th>
      <th scope="col" >Timestamp</th>
      <th scope="col" >Key</th>
      <th scope="col" >Value</th>
    </tr>
  </thead>

  {#if kmessages.size == 0}
  <tr>
    <td colspan="6">No data found.</td>
  </tr>
  {#else}

  {#for kmessage in kmessages}
  <tr>
    <td>{kmessage.topic}</td>
    <td>{kmessage.partition}</td>
    <td>{kmessage.offset}</td>
    <td>{kmessage.timestamp}</td>
    <td>{kmessage.key}</td>
    <td class="fit">
        <a class="btn btn-link" href="/messages/open/{kmessage.id}" role="button" up-modal=".modalenabled">View</a>
      </form>
    </td>
  </tr>
  {/for}
  {/if}
</table>
<script type="text/javascript">
      var connected = false;
      var socket;

      $( document ).ready(function() {
          var con = connect();
      });

      var connect = function() {
          if (! connected) {
              socket = new WebSocket("ws://" + location.host + "/events");
              socket.onopen = function() {
                  connected = true;
                  console.log("Connected to the web socket");
              };
              socket.onmessage = function(m) {
                if (location.pathname != '/messages/new') location.reload();
              };
          }
      };
</script>

{/contents}
{/include}
