<div class="pf-l-gallery pf-m-gutter">
    <div class="pf-l-gallery__item">
        <div class="pf-c-card form-text-width">
            <div class="pf-c-card__body">
                <form novalidate class="pf-c-form" action="/publish" method="POST" name="karamelForm" enctype="multipart/form-data">
                    <div class="pf-c-form__group">
                        <label class="pf-c-form__label" for="topic">
                            <span class="pf-c-form__label-text">Topic</span>
                            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                        </label>
                        <input class="pf-c-form-control" required type="text" id="topic" name="topic" required {#if view}value="{kmessage.topic}" readonly{/if} />
                    </div>

                    {#if view}
                    <div class="pf-c-form__group">
                        <label class="pf-c-form__label" for="partition">
                            <span class="pf-c-form__label-text">Partition</span>
                            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                        </label>
                        <input class="pf-c-form-control" required type="text" id="partition" name="partition" value="{kmessage.partition}" readonly/>
                    </div>
                    <div class="pf-c-form__group">
                        <label class="pf-c-form__label" for="offset">
                            <span class="pf-c-form__label-text">Offset</span>
                            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                        </label>
                        <input class="pf-c-form-control" required type="text" id="offset" name="offset" value="{kmessage.offset}" readonly/>
                    </div>
                    <div class="pf-c-form__group">
                        <label class="pf-c-form__label" for="timestamp">
                            <span class="pf-c-form__label-text">Timestamp</span>
                            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                        </label>
                        <input class="pf-c-form-control" required type="text" id="timestamp" name="timestamp" value="{kmessage.timestamp}" readonly/>
                    </div>
                    {/if}

                    <div class="pf-c-form__group">
                        <label class="pf-c-form__label" for="key">
                            <span class="pf-c-form__label-text">Key</span>
                        </label>
                        <input class="pf-c-form-control" required type="text" id="key" name="key" {#if view}value="{kmessage.key}" readonly{/if} />
                    </div>

                    <div class="pf-c-form__group">
                        <label class="pf-c-form__label" for="value">
                            <span class="pf-c-form__label-text">Value</span>
                            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                        </label>
                        <textarea class="pf-c-form-control form-textarea-height" type="text" id="value" name="value" value="{kmessage.value}"></textarea>
                    </div>
                    {#if !view}
                    <div class="pf-c-form__group pf-m-action">
                        <div class="pf-c-form__actions">
                            <button class="pf-c-button pf-m-primary" type="submit">Publish</button>
                        </div>
                    </div>
                    {/if}
                </form>
            </div>
        </div>
    </div>
</div>