<section class="pf-c-page__main-section" id="message">
    <div class="pf-l-split pf-m-gutter">
        <div class="pf-l-split__item pf-m-fill"></div>
        <div class="pf-l-split__item">
                <button class="pf-c-button pf-m-primary" v-on:click="closeMessage()">Back</button>
        </div>
    </div>
    <div class="pf-l-gallery pf-m-gutter">
        <div class="pf-l-gallery__item">
            <div class="pf-c-card form-text-width">
                <div class="pf-c-card__body">
                    <form novalidate class="pf-c-form" action="/publish" method="POST" name="karamelForm" enctype="multipart/form-data">
                        <div class="pf-c-form__group">
                            <label class="pf-c-form__label" for="topic">
                                <span class="pf-c-form__label-text">Topic</span>
                                <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                            </label>
                            <input class="pf-c-form-control" required type="text" id="topic" name="topic" required v-bind:value="message.topic" readonly/>
                        </div>

                        <div class="pf-c-form__group">
                            <label class="pf-c-form__label" for="partition">
                                <span class="pf-c-form__label-text">Partition</span>
                                <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                            </label>
                            <input class="pf-c-form-control" required type="text" id="partition" name="partition" v-bind:value="message.partition" readonly/>
                        </div>
                        <div class="pf-c-form__group">
                            <label class="pf-c-form__label" for="offset">
                                <span class="pf-c-form__label-text">Offset</span>
                                <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                            </label>
                            <input class="pf-c-form-control" required type="text" id="offset" name="offset" v-bind:value="message.offset" readonly/>
                        </div>
                        <div class="pf-c-form__group">
                            <label class="pf-c-form__label" for="timestamp">
                                <span class="pf-c-form__label-text">Timestamp</span>
                                <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                            </label>
                            <input class="pf-c-form-control" required type="text" id="timestamp" name="timestamp" v-bind:value="message.timestamp" readonly/>
                        </div>

                        <div class="pf-c-form__group">
                            <label class="pf-c-form__label" for="key">
                                <span class="pf-c-form__label-text">Key</span>
                            </label>
                            <input v-show="message !=null && JSON.stringify(message.key).length <= 100" class="pf-c-form-control" required type="text" id="key" name="key" v-bind:value="message.key" readonly />
                            <textarea v-show="message !=null && JSON.stringify(message.key).length > 100" class="pf-c-form-control form-textarea-height" type="text" id="key" name="key">{{message.key}}</textarea>
                        </div>

                        <div class="pf-c-form__group">
                            <label class="pf-c-form__label" for="value">
                                <span class="pf-c-form__label-text">Value</span>
                                <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                            </label>
                            <textarea class="pf-c-form-control form-textarea-height" type="text" id="value" name="value">{{message.value}}</textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>