{#include base.html}
{#contents}
<section class="pf-c-page__main-section pf-m-light">
    <div class="pf-l-split pf-m-gutter">
        <div class="pf-l-split__item">
            <div class="pf-c-content">
                <h1>Monitor</h1>
            </div>
        </div>
        <div class="pf-l-split__item pf-m-fill"></div>
        <div class="pf-l-split__item pf-c-form pf-m-horizontal">
            <div class="pf-c-form__group no-space" style="display: block;">
                <div class="pf-c-form__group-label">
                    <label class="pf-c-form__label">
                        <span class="pf-c-form__label-text">Brokers:</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="pf-l-split__item">
            <div class="pf-c-dropdown pf-m-expanded">
                <button class="pf-c-dropdown__toggle" type="button" id="dropdown-broker" aria-expanded="true" v-on:click="onDropDownBroker">
                    <span class="pf-c-dropdown__toggle-text">{{selectedBroker}}</span>
                    <i class="fas fa-caret-down pf-c-dropdown__toggle-icon" aria-hidden="true"></i>
                </button>
                <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="dropdown-expanded-button" v-show="bootstrapShow">
                    <li v-for="broker in brokerList" :key="broker">
                        <button class="pf-c-dropdown__menu-item" type="submit" v-on:click="onSelectBroker(broker)">{{broker}}</button>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pf-l-split__item pf-c-form pf-m-horizontal">
            <div class="pf-c-form__group no-space" style="display: block;">
                <div class="pf-c-form__group-label">
                    <label class="pf-c-form__label">
                        <span class="pf-c-form__label-text">Topics:</span>
                    </label>
                </div>
            </div>
        </div>
        <select v-model="selectedTopic" v-on:change="selectTopic($event)" class="pf-c-form-control" style="width: 20%;" id="topic" name="topic" aria-label="select topic">
            <option v-for="t in topicList" v-bind:value="t.name">
                {{ t.name }}
            </option>
        </select>
        <div v-if="selectedTopics.length > 0" class="pf-l-split__item pf-c-form pf-m-horizontal">
            <div class="pf-c-form__group no-space" style="display: block;">
                <div class="pf-c-form__group-label">
                    <label class="pf-c-form__label">
                        <span class="pf-c-form__label-text">Selected:</span>
                    </label>
                </div>
            </div>
        </div>
        <div v-if="selectedTopics.length > 0" class="pf-c-chip-group">
            <ul v-for="topic in selectedTopics" v-bind:value="topic" class="pf-c-chip-group__list" role="list" aria-labelledby="Chip-group-with-categories-removable-label">
                <li class="pf-c-chip-group__list-item">
                    <div class="pf-c-chip">
                        <span class="pf-c-chip__text" id="Chip-group-with-categories-removablechip_one_toolbar">{{topic}}</span>
                        <button v-on:click="removeTopic(topic)" class="pf-c-button pf-m-plain" type="button" aria-labelledby="Chip-group-with-categories-removableremove_chip_one_toolbar Chip-group-with-categories-removablechip_one_toolbar" aria-label="Remove" id="Chip-group-with-categories-removableremove_chip_one_toolbar">
                            <i class="fas fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="pf-c-page__main-section">
    <canvas id="monitorChart" width="400" height="150"></canvas>
</section>
{/contents}
{/include}
<script src="/scripts/utils.js"></script>
<script src="/scripts/monitor.js"></script>
