<section class="pf-c-page__main-section dashboard-subtitle">
    <h1 class="pf-c-title pf-m-xl">Cluster operator</h1>
</section>
<section class="pf-c-page__main-section">
    <div class="pf-l-gallery pf-m-gutter dashboard">
        {#for deployment in inject:karamelAPI.getClusterDeployments}
        <div class="pf-c-card pf-m-hoverable pf-m-compact">
            <div class="pf-c-card__header pf-c-title pf-m-md">
                <p>{deployment.getKind()}</p>
                <div class="pf-c-content">
                    <small>{deployment.getMetadata().getUid()}</small>
                    <small>{deployment.getMetadata().getName()}</small>
                </div>
            </div>
            <div class="pf-c-card__footer">
                <div class="pf-c-alert status pf-m-success" aria-label="Success alert">
                    <div class="pf-c-alert__icon">
                        <i class="fas fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <h4 class="pf-c-alert__title">Desired: {deployment.getStatus().getReplicas()}, Ready: {deployment.getStatus().getReadyReplicas()}</h4>
                </div>
            </div>
        </div>
        {/for}
        {#for replicaSet in inject:karamelAPI.getClusterReplicaSets}
        <div class="pf-c-card pf-m-hoverable pf-m-compact">
            <div class="pf-c-card__header pf-c-title pf-m-md">
                <p>{replicaSet.getKind()}</p>
                <div class="pf-c-content">
                    <small>{replicaSet.getMetadata().getUid()}</small>
                    <small>{replicaSet.getMetadata().getName()}</small>
                </div>
            </div>
            <div class="pf-c-card__footer">
                <div class="pf-c-alert status pf-m-success" aria-label="Success alert">
                    <div class="pf-c-alert__icon">
                        <i class="fas fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <h4 class="pf-c-alert__title">Desired: {replicaSet.getStatus().getReplicas()}, Ready: {replicaSet.getStatus().getReadyReplicas()}</h4>
                </div>
            </div>
        </div>
        {/for}
        {#for pod in inject:karamelAPI.getClusterPods}
        <div class="pf-c-card pf-m-hoverable pf-m-compact">
            <div class="pf-c-card__header pf-c-title pf-m-md">
                <p>Pod</p>
                <div class="pf-c-content">
                    <small>{pod.uid}</small>
                    <small>{pod.name}</small>
                </div>
            </div>
            <div class="pf-c-card__footer">
                <div class="pf-c-alert status {pod.getClassName()}" aria-label="Success alert">
                    <div class="pf-c-alert__icon">
                        <i class="fas {pod.getIcon()}" aria-hidden="true"></i>
                    </div>
                    <h4 class="pf-c-alert__title">{pod.phase}</h4>
                </div>
            </div>
        </div>
        {/for}
    </div>
</section>