{#include base.html}
{#contents}
<section class="pf-c-page__main-section pf-m-light">
    <div class="pf-l-split pf-m-gutter">
        <div class="pf-l-split__item">
            <div class="pf-c-content">
                <h1>Zookeeper</h1>
            </div>
        </div>
    </div>
</section>
<section class="pf-c-page__main-section">
    <div class="pf-l-gallery pf-m-gutter dashboard">
        {#for statefulSet in inject:strimziAPI.getZookeeperStatefulSets}
        <div class="pf-c-card pf-m-hoverable pf-m-compact">
            <div class="pf-c-card__header pf-c-title pf-m-md">
                <p>{statefulSet.getKind()}</p>
                <div class="pf-c-content">
                    <small>{statefulSet.getMetadata().getName()}</small>
                    <small>{statefulSet.getMetadata().getUid()}</small>
                </div>
            </div>
            <div class="pf-c-card__body">

            </div>
            <div class="pf-c-card__footer">
                <div class="pf-c-alert status pf-m-success" aria-label="Success alert">
                    <div class="pf-c-alert__icon">
                        <i class="fas fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <h4 class="pf-c-alert__title">Desired: {statefulSet.getStatus().getReplicas()}, Ready: {statefulSet.getStatus().getReadyReplicas()}</h4>
                </div>
            </div>
        </div>
        {/for}
        {#for pod in inject:strimziAPI.getZookeeperPods}
        <div class="pf-c-card pf-m-hoverable pf-m-compact">
            <div class="pf-c-card__header pf-c-title pf-m-md">
                <p>{pod.getKind()}</p>
                <div class="pf-c-content">
                    <small>{pod.getMetadata().getName()}</small>
                    <small>{pod.getMetadata().getUid()}</small>
                </div>
            </div>
            <div class="pf-c-card__body">

            </div>
            <div class="pf-c-card__footer">
                <div class="pf-c-alert status pf-m-success" aria-label="Success alert">
                    <div class="pf-c-alert__icon">
                        <i class="fas fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <h4 class="pf-c-alert__title">{pod.getStatus().getPhase()}</h4>
                </div>
            </div>
        </div>
        {/for}
    </div>
</section>
{/contents}
{/include}
